{% block cmf_core_locales_switcher %}
{% spaceless %}
    <div>
    {% for choice in choices %}
        {% if loop.index > 1 %} | {% endif %}<a href="{{ admin.generateObjectUrl('edit', object, {'_locale' : choice.value}) }}">{{ choice.value | upper }}</a>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}


{#{% block cmf_core_checkbox_url_label_row %}#}
{#{% spaceless %}#}
{#{{ form_errors(form) }}#}
{#<label class="checkbox">#}
    {#<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />#}
    {#{{ label | trans(paths, translation_domain) | raw }}#}
{#</label>#}
{#{% endspaceless %}#}
{#{% endblock %}#}

{#{% block choice_widget %}#}
{#{% spaceless %}#}
    {#{% if expanded %}#}
        {#{{ block('choice_widget_expanded') }}#}
    {#{% else %}#}
        {#{{ block('choice_widget_collapsed') }}#}
    {#{% endif %}#}
{#{% endspaceless %}#}
{#{% endblock choice_widget %}#}

{#{% block choice_widget_expanded %}#}
{#{% spaceless %}#}
    {#<div {{ block('widget_container_attributes') }}>#}
    {#{% for child in form %}#}
        {#{{ form_widget(child) }}#}
        {#{{ form_label(child) }}#}
    {#{% endfor %}#}
    {#</div>#}
{#{% endspaceless %}#}
{#{% endblock choice_widget_expanded %}#}

{#{% block choice_widget_collapsed %}#}
{#{% spaceless %}#}
    {#{% if required and empty_value is none and not empty_value_in_choices %}#}
        {#{% set required = false %}#}
    {#{% endif %}#}
    {#<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>#}
        {#{% if empty_value is not none %}#}
            {#<option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>#}
        {#{% endif %}#}
        {#{% if preferred_choices|length > 0 %}#}
            {#{% set options = preferred_choices %}#}
            {#{{ block('choice_widget_options') }}#}
            {#{% if choices|length > 0 and separator is not none %}#}
                {#<option disabled="disabled">{{ separator }}</option>#}
            {#{% endif %}#}
        {#{% endif %}#}
        {#{% set options = choices %}#}
        {#{{ block('choice_widget_options') }}#}
    {#</select>#}
{#{% endspaceless %}#}
{#{% endblock choice_widget_collapsed %}#}

{#{% block choice_widget_options %}#}
{#{% spaceless %}#}
    {#{% for group_label, choice in options %}#}
        {#{% if choice is iterable %}#}
            {#<optgroup label="{{ group_label|trans({}, translation_domain) }}">#}
                {#{% set options = choice %}#}
                {#{{ block('choice_widget_options') }}#}
            {#</optgroup>#}
        {#{% else %}#}
            {#<option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>#}
        {#{% endif %}#}
    {#{% endfor %}#}
{#{% endspaceless %}#}
{#{% endblock choice_widget_options %}#}
